body {
  background-color: #eee;
}
div {
  margin: 0 auto;
  border: solid 1px black;
  width: 50px;
  height: 100px;
  display: inline-block;
}
.base {
  background-color: red;
}
.dark-1 {
  background-color: #c00;
}
.dark-2 {
  background-color: #900;
}
.dark-3 {
  background-color: #600;
}
.dark-4 {
  background-color: #300;
}
.light-1 {
  background-color: #f33;
}
.light-2 {
  background-color: #f66;
}
.light-3 {
  background-color: #f99;
}
.light-4 {
  background-color: #fcc;
}
