@import 'variables';

@mixin container {
  min-height: 100vh;
  text-transform: uppercase;
  font-family: $primary-font;
  text-align: center;
  padding: 0;
  margin: 0;
}

@mixin flex-container($dir, $justify) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
}
