@import 'mixins';
// Change the theme import to see the differences
@import 'themes/theme-one';
// @import 'themes/theme-two';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.container {
  padding: 10vh;
}

.colors {
  div {
    @include boxOutline($radius);
  }
}

.base {
  background-color: $primary;
}

.important {
  background-color: $important;
}
.warning {
  background-color: $warning;
}

.primary {
  font-family: $primary-font;
}
.secondary {
  font-family: $secondary-font;
}

.box {
  @include boxOutline($radius);
  @include boxShadow($shadow);
}
